.heder {
    position: relative;
    width: 100%;
    height: 130px;
    background-color: gray;
    text-align: center;
    padding: 25px 0 0;
}
.heder-profile {
    position: absolute;
    right: 25px;
    bottom: 0px;
    background-color: aquamarine;
    padding: 10px 20px;
    border-radius: 50px;
}
.chat {
    display: flex;
    margin: 0 50px;
}
.chat-list {
    width: 30%;
    padding: 0 22px;
}
.message-field_form {
    padding: 2px 4px;
    display: flex;
    width: 100%;
}
.allwidth {
    width: 100%;
}

.message-field {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    height: 50%;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
 }
 
 .layout {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 
 .message {
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
 }
 
 .message-sender {
    color: gray;
    font-size: 14px;
 }

 .layout {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 
 .layout-canvas {
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
 }
 
 .header {
    width: 100%;
    height: 40px;
    background-color: lightblue;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
 }
 
 .layout-left-side {
    display: None;
 }
 
 .layout-right-side {
    height: 100%;
    width: 100%;
 }
 
 
 @media screen and (min-width: 650px){
    .layout {
        width: 50%;
    }
 
    .layout-canvas {
        height: 50%;
        width: 100%;
        display: flex;
    }
 
    .layout-right-side {
        width: 70%;
    }
 
    .layout-left-side {
        display: block;
        height: 100%;
        width: 30%;
        background-color: darkgray;
    }
 
    .layout {
        width: 50%;
    }
 
    .layout-canvas {
        height: 50%;
    }
 }
 
 