.heder {
    width: 100%;
    height: 100px;
    background-color: gray;
    text-align: center;
    padding: 55px 0 0;
}
.chat {
    display: flex;
    margin: 0 50px;
}
.chat-list {
    width: 30%;
    padding: 0 22px;
}
.message-field_form {
    padding: 2px 4px;
    display: flex;
    width: 100%;
}
.allwidth {
    width: 100%;
}

.message-field {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    height: 50%;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
 }
 
 .layout {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 
 .message {
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
 }
 
 .message-sender {
    color: gray;
    font-size: 14px;
 }
 